header {
    background-color: rgb(103, 181, 245);
    height: auto;
    border-radius: 0 0 20px 20px;
    display: grid;
    grid-auto-flow: column; /* force items into a single row */
    grid-template-columns: 1fr; /* grid-auto-columns: max-content;  */
}

header>div {
    display: flex;
    align-items: center;
    padding: 10px;
}

.navLogo {
    height: 50px;
    margin-right: 20px;
}

.pageLinks {
    background-color: rgb(216, 214, 214);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin-right: 25vw;
}

.profileDropdown {
    background-color: gray;
    width: 20vw;
    position: absolute;
    top: 20px;
    right: 3vw;
}

.profileDropdown > .profileIcon {
    display: flex;
    justify-content: center;
}

.profileIcon img {
    height: 50px;
    padding-right: 10px;
}

form {
    display: flex;
}

.storeContainer {
    display: flex;
    justify-content: center;
    margin: 20vh;
}

.storeLocation {
    background-color: rgb(237, 239, 240);
    display: flex;
    border-radius: 15px;
}

.martPic {
    width: 20vh;
    border-radius: 10px;
}

#map {
    height: 30vh;
    margin: 20px;
    margin-left: auto;
}

footer {
    background-color: rgb(103, 181, 245);
    padding: 0 50px;
    border-radius: 20px 20px 0 0;
}