header {
    background-color: rgb(103, 181, 245);
    height: auto;
    border-radius: 0 0 20px 20px;
    display: grid;
    grid-auto-flow: column; /* force items into a single row */
    grid-template-columns: 1fr; /* grid-auto-columns: max-content;  */
}

header>div {
    display: flex;
    align-items: center;
    padding: 10px;
}

.navLogo {
    height: 50px;
    margin-right: 20px;
}

.pageLinks {
    background-color: rgb(216, 214, 214);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin-right: 5vw;
}

.pageLinks a {
    padding: 5px;
}

.profileDropdown {
    background-color: rgb(184, 180, 180);
    width: 20vw;
    position: absolute;
    top: 1vh;
    right: 5px;
}

.profileIcon {
    display: flex;
    height: 50px;
}

.profileIcon img {
    height: 50px;
    margin: 0 auto;
}

.profileIcon > i {
    font-size: 30px;
    padding: 5px 5px 0 0;
}

.infoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoContainer div {
    margin: 10px;
}

.infoContainer a {
    margin: 0 5px;
}

.infoContainer p {
    margin: 0 5px;
    font-weight: bold;
}

form {
    display: flex;
    width: 80%;
}

form div input {
    width: 100%;
}

body {
  /* font-family: sans-serif; */
  width: 100%;
  padding: 0;
  margin:0;
  display: flex;
  flex-direction: column;
  background-color: lightblue;   
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  
}


footer {
  /* use 100% rather than 100vw so that the scrollbar is not included in the screen width */
  width: 100%; 
  height: 8rem;
  bottom: 0;
  /* margin-top makes it so that it shows whatever content above it
   before the footer appears, so it doesnt cut anything off */
  margin-top: auto; 
  background-color: rgb(103, 181, 245);
  padding: 15px;
  border-radius: 20px 20px 0 0;

}