.page {
    margin: 5vh 0;
}

.profileContainer {
    background-color: rgb(223, 227, 230);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.profileInfo {
    padding: 20px;
}

.profileInfo div {
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
}

.qrContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.qrContainer img {
    width: 20vw;
    border-radius: 15px;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.transactionsContainer {
    
}

.chartContainer div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
}