.page {
    margin: 5vh 0;
}

.profileContainer {
    background-color: rgb(223, 227, 230);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.profileInfo {
    padding: 20px;
}

.profileInfo div {
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
}

.qrContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.qrContainer img {
    width: 20vw;
    border-radius: 15px;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.transactionsContainer {
    
}

.chartContainer div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
}

/* Backdrop */
.editModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Popup box */
.editBox {
  background: #fff;
  padding: 25px 30px;
  width: 380px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Popup title */
.editBox h2 {
  margin: 0 0 10px 0;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/* Labels */
.editBox label {
  font-weight: 600;
  margin-bottom: 5px;
}

/* Inputs */
.editBox input {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.editBox input:focus {
  border-color: #007bff;
  outline: none;
}

/* Buttons container */
.editActions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

/* Buttons */
.editActions button {
  padding: 8px 14px;
  font-size: 14px
}