.app {
    padding: 2rem 4rem;
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
}

.app>h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: lighter;
}

.todo-list {
    list-style: none;
    padding: 0;
}

.app .row {
    background: #f0e6e0;
    padding: 0.75rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}