.notifContainer {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    z-index: 9999;
}

.notif {
    background: #ccc;
    color: black;
    padding: 0.75rem 1.25rem;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
}
