#redeem {
    margin-right: 10px;
}

.transaction-item {
}

.userInfo, .transInfo {
    padding: 5px 20px;
}

.userInfo input {
    margin: 0 15px 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    background-color: white;
    margin: 10px auto;
    border-radius: 20px;
    /* border: 3px solid rgb(103, 181, 245); */
    padding: 20px;
    width: 100vh;
}

.userInfo {
    margin-left: 40px;
}

.userInfo p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.transInfo {
    width: 20px;
    margin-right: 200px;
}


.updateButton:hover {
    background-color: grey;
    font-weight: bold;
}

button {
    background-color: aliceblue;
    border-radius: 5px;
    margin: 3px;
    height: 30px;
}

button:hover {
    background-color: white;
    font-weight: bold;
    
}

.error {
    color: red;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

#typeColour {
    color:crimson;
    font-weight: bold;
}