.redeem-container {
    display: grid !important;
    grid-template-columns: 1fr 7fr !important;
    align-items: center;
}

.redeem-container input[type="checkbox"] {
  margin: 0;         
  padding: 0;
  align-items: left;
}

.transInfo {
    padding: 5px 20px;
}

.transInfo {
    width: 20px;
    margin-right: 200px;
}

.qrContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qrCode {
    width: 150px !important;
}

.updateButton:hover {
    background-color: grey;
    font-weight: bold;
}

button {
    background-color: aliceblue;
    border-radius: 5px;
    margin: 3px;
    height: 30px;
}

button:hover {
    background-color: white;
    font-weight: bold;
    
}

.error {
    color: red;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

#typeColour {
    color:crimson;
    font-weight: bold;
}

.remark {
    position: absolute;
    padding-left: 75px;
}

.remark p {
    width: 200px !important;
}