.event-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    background-color: white;
    margin: 10px auto;
    border-radius: 20px;
    /* border: 3px solid rgb(103, 181, 245); */
    padding: 20px;
    width: 100vh;
}


.eventInfo div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.eventName {
    width: 20px;
    padding-left: 60px;
}

.trashCan {
    padding-top: 3px;
}

.trashCan a {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    
}

.trashCan a img {
    height: 1.5rem;
}

.conditional {
    display: flex;
}

.updateButton:hover {
    background-color: grey;
    font-weight: bold;
}

button {
    background-color: aliceblue;
    border-radius: 5px;
    margin: 3px;
    height: 30px;
}

button:hover {
    background-color: white;
    font-weight: bold;
    
}



.error {
    color: red;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}