.socials {
    display: flex;
    gap: 10px;
}

footer {
  /* use 100% rather than 100vw so that the scrollbar is not included in the screen width */
  width: 100%; 
  height: 8rem;
  bottom: 0;
  /* margin-top makes it so that it shows whatever content above it
   before the footer appears, so it doesnt cut anything off */
  margin-top: auto; 
  background-color: rgb(103, 181, 245);
  padding: 15px;
  border-radius: 20px 20px 0 0;

}

.logoutBtn {
  text-decoration: none;
  margin-top: 10px;
  color: black;
  background-color: rgb(213, 220, 226);
  border-radius: 15px;
  padding: 5px 10px;
}

.logoutBtn:hover {
  background-color: rgb(154, 159, 164);
  font-size: large;
}

.footerBody {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}