.transaction-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    background-color: white;
    margin: 10px auto;
    border-radius:30px;
    border: 3px solid rgb(103, 181, 245);
    padding: 20px;
    width: 100vh;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}


.transInfo div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.userInfo{
    width: 20px;
    padding-left: 60px;
}


.typePurchase {
    color:cornflowerblue;
    font-weight: bold;
    /* background-color: aqua; */
    /* font-style: italic; */
}
.typeRedemption {
    color:crimson;
    font-weight: bold;
}
.typeTransfer {
    color:darkorchid;
    font-weight: bold;
}
.typeEvent {
    color:darkcyan;
    font-weight: bold;
}
.typeAdjustment {
    color:maroon;
    font-weight: bold;
}


.updateButton:hover {
    background-color: grey;
    font-weight: bold;
}

button {
    background-color: aliceblue;
    border-radius: 5px;
    margin: 3px;
    height: 30px;
}

button:hover {
    background-color: white;
    font-weight: bold;
    
}



.error {
    color: red;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}